snippet cm "c style init main file template"
#include <stdio.h>

int main(int argc, char **argv) {
	$1
	return 0;
}
endsnippet

snippet im "cpp style init main file template"
#include <iostream>

using namespace std;

int main(int argc, char **argv) {
	$1
	return 0;
}
endsnippet
