snippet im "init single file"
package main

import (
	"fmt"
)

func main() {
	fmt.Println("Hello world!")$1
}
endsnippet

snippet funt "method for struct"
func (self *${1:Type}) ${2:funName}($3) $4{
	$5
}
endsnippet
