snippet <s "source code block" b
#+BEGIN_SRC $1
$2
#+END_SRC
endsnippet

snippet <e "example block"
#+BEGIN_EXAMPLE
$1
#+END_EXAMPLE
endsnippet

snippet <q "quote block"
#+BEGIN_QUOTE
$1
#+END_QUOTE
endsnippet

snippet <c "center text block"
#+BEGIN_CENTER
$1
#+END_CENTER
endsnippet
